name: Basic Image Build

on:
  push:
    - master
  pull_request:
    # I could also choose which branch PR triggers

jobs:
  build-image:
    name: Build Image
    runs-on: ubuntu-lastest
    steps:

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}

      - name: Docker Build
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name != 'pull_request'}}
          tags: andjim/docker-ci-automation:latest,andjim/docker-ci-automation:01