name: Basic Image Build

on:
  push:
    branches: [master]
  pull_request:
    # I could also choose which branch PR triggers

jobs:
  build-image:
    name: Build Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # This action allows to build images using QEMU to emulate other architecture and build images for the chosen architecture
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}

      - name: Docker Build
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name != 'pull_request'}}
          tags: andjim/docker-ci-automation:latest,andjim/docker-ci-automation:01
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64,linux/arm/v7 # With Qemu Atction previosly set, we now have available the param "platforms" where you can list the chosen architecture you want your images to be built in.